<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
</head>
<body>
    <h1>Book List</h1>
    <a href="{% url 'book_create' %}">Add New Book</a>
    <ul>
    {% for book in object_list %}
        <li>
            <a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a> - {{ book.author }}
            (<a href="{% url 'book_update' book.pk %}">Edit</a>,
             <a href="{% url 'book_delete' book.pk %}">Delete</a>)
        </li>
    {% empty %}
        <li>No books available.</li>
    {% endfor %}
    </ul>
</body>
</html>
